body{
	background-color: white;
}

.card{
  position: absolute;
  top: 20%;
  border: none;
  max-width: 36rem;
}

.card-title{
  font-weight: bold; 
  font-family: Poppins;
}
.card-text{
  
  font-family: 'JetBrains Mono', monospace;

}
.card-footer{
  font-family: 'JetBrains Mono', monospace;
  font-style:normal;

}
.text-new{
  color: #333333;
}
